*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
.mainContainer {
  height: 100vh;
  width:100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color:black;
}

.runningCircle {
  width: 30vw;
  height: 30vw;
  border-radius: 50%;
  border: 2px solid #DDDDDD;
  /* position: absolute;
  left:100px;
  top:70px; */
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}